.recipe-form {
    width: 50%;
    margin: 50px auto 0;
}

.edit-recipe-form {
    padding: 50px 0 40px;
    width: 80%;
}

.type-portion-div {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.select-type {
    border: 1px solid #e1e1e1;
    border-width: 0 0 2px 0;
    padding: 10px 30px;
}

.portions-input {
    display: inline-block;
    width: 140px;
}

.create-recipe-div {
    padding-top: 150px;
}

.create-form-input, .create-file-input, .create-ingredient-input, .portions-input {
    border: 1px solid #e1e1e1;
    border-width: 0 0 2px 0;
    padding: 20px 10px;
}

.create-file-input {
    padding: 30px 10px;
    margin-bottom: 30px;
    /* width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1; */
}

.create-ingredient-input{
    margin: 40px 0;
}

.create-steps-input {
    border: 1px solid #e1e1e1;
    border-width: 0 0 2px 0;
}

.submit-form-bnt-div {
    margin: 10% 0;
}

.submit-btn {
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 19px;
    font-weight: 700;
    background-color: #83bd94;
    color: white;
    margin-bottom: 30px;
}

@media (max-width: 480px){
    .create-recipe-div {
        padding-top: 100px;
    }

    .recipe-form {
        width: 100%;
    }

    .create-title {
        font-size: 30px;
        font-weight: 800;
    }

    .submit-btn {
        font-size: 15px;
        font-weight: 800;
    }
}