.forms {
    display: flex;
    justify-content: space-around;
    padding-top: 140px;
  }

.form-signin {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}  

.login-title {
    font-weight: 700;
}

.form-input {
    border: 1px solid #e1e1e1;
    border-width: 0 0 1px 0;
    margin: 25px 0;
    width: 130%;
}

.btn-login {
    color: white;
    background-color: #76aa6f;
    border-color: #76aa76;
    margin-top: 30px;
    font-weight: 700;
}

.btn-signup {
    color: black;
    background-color: #e9da5d;
    border-color: #e9da5d;
    margin-top: 30px;
    font-weight: 700;
}

.btn-signup:hover  {
    color: white;
}

@media (max-width: 480px){

    .forms {
        flex-direction: column;
        justify-content: center;
        padding-top: 80px;
      }

    .form-signin {
        margin-bottom: 50px;
        width: 70%;
        justify-content: center;
    } 

    .login-title {
        font-weight: 600;
    }

    .btn-login, .btn-signup {
        padding: 10px 20px;
        border-radius: 25px;
        margin-top: 20px;
    }
}