.home-recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 0 0 20px;
    padding-top: 50px;
}

.recipe-card {
    margin: 20px;  
}

.card-body {
    text-align: center;
}

.recipe-card:hover {
    opacity: 0.7;
}

.card-title {
    color: #212121;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.7;
    font-weight: 200;
    text-align: center;
}

.recipe-title:hover {
    text-decoration: none;
}

.add-mealplan-btn {
    background-color: #78b2bd;
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 25px;
    margin: 20px 0 0;
}

@media (max-width: 480px){
    .home-recipes {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin: 20px 0;
        text-align: center;
    }

}