.recipe-detail-div {
  margin-top: 140px;
}

.recipe-detail-teaser {
  margin-bottom: 30px;
}

.recipe-detail-tabs {
  margin: 50px 0;
}

.img-div {
  display: flex;
  justify-content: start;
  padding-left: 30px;
}

.method-par {
    line-height: 1.8;
}

.recipe-detail-img {
  height: 400px;
  width: 310px;
}

.title-div {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.recipe-title {
  text-align: start;
  font-weight: 700;
}

.recipe-detail-nav, .recipe-detail-nav:hover  {
  color: #212121;
  font-size: 20px;
  font-weight: 700;
}

.recipe-detail-nav:active {
  background-color: #e9da5d;
  color: #212121;
}

.tab-nutrition,
.tab-ingredients, .tab-method {
  padding: 20px;
}

.recipe-type {
  margin-right: 50px;
}

.recipe-info-div {
  display: flex;
  border: 1px solid gray;
  border-width: 2px 0 0;
  padding-top: 20px;
  width: 410px;
}

.nutrition-tab-title {
    font-weight: 700;
    padding-left: 10px;
    margin: 20px 0;
}

.ingredients-container {
  columns: 2 auto;
  list-style-type: none;
  margin-top: 40px;
}

.ingredients-container li {
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .recipe-detail-div {
    margin-top: 100px;
  }

  .recipe-title {
    font-size: 23px;
  }

  .recipe-detail-img {
    height: 170px;
    width: 200px;
    border-radius: 50%;
  }
}
