.mealplan-tab {
    padding: 150px 120px;
}

.shoppinglist-container {
    columns: 2 auto;
    background-color: white;
    padding: 0 20px 20px 10px;
}

.mealplan-nav-link {
    background-color: #e9da5d ;
    margin-bottom: 5px;
}

.recipes-tab {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.mealplan-tab-recipe:hover {
    opacity: 0.7;
}

.mealplan-recipe-link:hover {
    text-decoration: none;
}

@media (max-width: 480px) {
    .mealplan-tab {
        padding: 80px 10px;
    }
}