/* My recipes */
.my-recipes-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.my-recipes-header {
  margin: 120px 0 50px;
}

.my-recipes-card {
  display: inline;
  text-align: center;
}

.my-recipes-card:hover {
    opacity: 0.7;
}

.recipe-btn {
  background-color: #e9da5d;
  padding: 10px 20px;
  border: 1px solid #e9da5d;
  border-radius: 50%;
  font-size: 25px;
  margin: 0 10px 15px 0;
}

.my-recipes-recipe-title:hover {
    text-decoration: none;
}

@media (max-width: 480px) {
    .my-recipes-div {
        display: flex;
        justify-content: center;
      }

      .recipe-btn {
        font-size: 20px;
      }
}
