.intro-div {
    display: flex;
    justify-content: space-around;
    background-color: #83bd94;
    padding: 10px 0;
}

.my-nav {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    align-content:  center;
}

.nav-link {
    color: white;
}

.my-navbar {
    padding: 0;
    background-color: #83bd94;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-content: space-around;
}

.navbar-title {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: white;
    font-size: 38px;
    font-weight: 800;
}

.navbar-title-link:hover {
    text-decoration: none;
}

.fa-home {
    color: white;
    font-size: 32px;
}

.fa-shopping-basket {
    color: white;
    font-size: 27px;
}

.fa-plus-circle, .fa-user {
    color: white;
    font-size: 30px;
}

.nav-list {
    border: 1px solid white;
    border-width: 1px 0;
    padding: 20px 60px;
}

@media (max-width: 480px) {
    .navbar-title {
        font-size: 20px;
        font-weight: 800;
    }

    .navbar-title-link {
        display: flex;
        align-items: center;
    }

    .fa-home, .fa-plus-circle, .fa-user {
        font-size: 25px;
    }

    .fa-shopping-basket {
        font-size: 22px;
    }

    .nav-list {
        border: none;
        padding: 10px 0 0;
        margin-top: 10px;
    }
}