.home-recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

h1 {
    text-align: center;
    margin: 0 0 20px;
    padding-top: 50px;
}

.edit-btn {
  background-color: #e9da5d;
  padding: 10px;
  border: 1px solid #e9da5d;
  border-radius: 50%;
  font-size: 20px;
  margin: 5px;
}

.recipe-card {
    margin: 20px;
}

.recipe-card:hover {
    opacity: 0.7;
}

.card-title {
    color: #212121;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.7;
    font-weight: 200;
    text-align: center;
}

.recipe-title:hover {
    text-decoration: none;
}

@media (max-width: 480px){
    .home-recipes {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin: 20px 0;
        text-align: center;
    }

}