.image-div {
    display: flex;
    justify-content: center;
    align-content: center;
}

.title-div {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.recipe-title {
    display: flex;
}

.recipe-detail-nav {
    color: #212121;
}