/* Header */
.header {
  background-color: #83bd94;
}

/* Signup and Login forms */
.forms {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 480px){
  .forms {
      display: block;
      text-align: center;
  }

}